<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="usu.ajedrezinfantil">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-sdk tools:overrideLibrary="com.scand.svg"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EjercicioBaseActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".TareaA1Activity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ColocarPiezasActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MoverDamaActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>